<html>
  <head>
    <title>about</title>
    <link rel="stylesheet" href="./css/style.css" />
    <script src="./js/clientsideJS.js"></script>
  </head>
  <body>

    <div class="main-content">
      {{>headers}}
      <img class='portrait' src="./img/download.jpeg">
    </div>
    
    {{>footers}}
  </body>
</html>