<html>
  <head>
    <title>Error</title>
    <link rel="stylesheet" href="./css/style.css" />
    <script src="./js/clientsideJS.js"></script>
  </head>
  <body>
    <div class="main-content">
      {{>headers}}
      <p>{{message}}</p>
    </div>
   
    {{>footers}}
  </body>
</html>