<html>
  <head>
    <title>help</title>
    <link rel="stylesheet" href="./css/style.css" />
    <script src="./js/clientsideJS.js"></script>
  </head>
  <body>
    <div class="main-content">
      {{>headers}}

          
          <p>{{helptext}}</p>

    </div>
  
    {{>footers}}
  </body>
</html>